/* Move down content because we have a fixed navbar that is 50px tall */
body {
    margin: 0 auto;
}

/* Remove border to delete the 1px line */
.navbar-fixed-top {
    border: 0;
}



/* ----- Board ----- */
.board{
	margin: 0 auto;
	max-width: 960px;
	background-color: #ccc;

	overflow: auto;
}

/* ----- Button ----- */
button, html input[type="button"], input[type="reset"], input[type="submit"]{
	width: 100px;
	border-radius: 0;
}

/* ----- hr ----- */
hr{
	margin: 0;
	margin-bottom: 5px;
}

/* ----- table ----- */
table{
	background-color: #fff;
}

table thead{
	background-color: #ddd;
}